# emacs default
/all-the-fonts
/auto-save-list
/org-persist
/eln-cache
/server
/elpa

# emacs quelpa
/quelpa

# emacs packages
/ac-comphist.dat
/tree-sitter
/recentf

# emacs eshell
/eshell/history
/eshell/lastdir

# emacs compile
*.elc
